<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<body>
		<p> Bonjour,</p>
		<br />
		<p> Nous vous remercions pour l’envoi de votre facture/BL. </p>
		<p> Une intégration automatique dans notre logiciel n’a pas pu être faite mais vos documents seront retraités manuellement.</p>
		<p> Une des raisons de ce rejet par notre outil est un non respect du formalisme, rappelé ci-dessous.</p>
		<br /> <hr />
		<em> <strong> <p> Pour votre prochain envoi, merci de respecter le format afin de recevoir un email de confirmation de bonne réception : </u> </p> </strong>
		<p>	► <u>Format PDF</u> (document lisible)</p>
		<p> ► <u>Nom du document :</u> « type de document_ENTREPRISE_numero du document_ date du document » </p> 
		<p> → Exemple : « Facture_ENTREPRISE_FA0123456789_28112017» ou « BonLivraison001_ENTREPRISE_147852_28112017 »</p>
		<br />
		<strong> <p> Si vous souhaitez joindre plusieurs BL/justificatifs, merci de respecter le format suivant :</p> </strong>
		<p> • BonLivraison001_ENTREPRISE_002_13022018.pdf </p>
		<p> • BonLivraison002_ENTREPRISE_002_13022018.pdf </p> </em>
		<hr />
		<br />
		<p> D’avance merci pour votre collaboration. </p>
	</body>
</html>