<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<body>
		<p> Bonjour, </p>
		<br>
		<p> Nous vous remercions pour l’envoi de votre document, n°<strong>{{ name }}</strong>. </p>
		<p> Une intégration automatique dans notre logiciel a été effectuée avec succès. </p>
		<br />
		<p> En vous remerciant de votre implication lors de l'envoi de vos fichiers. </p>
	</body>
</html>

