<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <body>
    <p> Bonjour, </p>
    <br />
    <p>Nous avons réceptionné, via le système automatisé, un nouvel envoi de facture/BL. </p>
    <p> Le document réceptionné est le document n°<strong>{{ name }}</strong>. </p>
    <p> Nous vous faisons donc suivre ce document. </p>
    <br />
    <p> En vous souhaitant une bonne réception. </p>
  </body>
</html>