<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<body>
Bonjour,<br>
<br>
<br>
<br>
Nous vous remercions pour l’envoi de votre facture/BL.<br>
Une intégration automatique dans notre logiciel n’a pas pu être faite mais vos documents seront retraités manuellement.<br>
Une des raisons de ce rejet par notre outil est un non respect du formalisme, rappelé ci-dessous.<br>
<br>
<br>
<br>
Pour votre prochain envoi, merci de respecter le format afin de recevoir un email de confirmation de bonne réception :
<br>
<br>
<br>
-          Format PDF (document lisible)<br>
<br>
-          Nom du document : « type de document_ENTREPRISE_numero du document_ date du document » => Exemple « Facture_ENTREPRISE_FA0123456789_28112017» ou « BonLivraison001_ENTREPRISE_147852_28112017 »<br>
<br>
<br>
<br>
Si vous souhaitez joindre plusieurs BL/justificatifs, merci de respecter le format suivant :<br>
<br>
·         BonLivraison001_ENTREPRISE_002_13022018.pdf<br>
<br>
·         BonLivraison002_ENTREPRISE_002_13022018.pdf<br>
<br>
<br>
<br>
D’avance merci pour votre collaboration.
</body>
</html>