{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
	{% if not object.boncommandes.empty %}
		<div class="col-xs-12">
		<div class="box">
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<tbody>
						<tr><th>Numéro</th></tr>				
						{% for releve in object.boncommandes %}
							<tr><td>{{ releve.name }}</td></tr>
						{% endfor %}
					</tbody>
				  </table>
            </div>
            <!-- /.box-body -->
		</div>
		</div>
    {% endif %} 
{% endblock %}